bin
build
.cache
*.out
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.obj
*.pdb
*.exe
*.LSOverride
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*
.vs/*
html/
*.o
*.a

Icon?
.DS_Stor*

src/main/faust/generated/*.h